{:kotoba.app/id "cloud.itonami.isic-1610", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifisvhqllect42tfnzfdcjhirkqxxnlcyqukqqbhaoymnho5qvsjq", :kotoba.app/embed-url "ipfs://bafkreifisvhqllect42tfnzfdcjhirkqxxnlcyqukqqbhaoymnho5qvsjq", :published {:archive "https://kotobase.net/ipfs/bafkreifisvhqllect42tfnzfdcjhirkqxxnlcyqukqqbhaoymnho5qvsjq", :size 72550, :put-status 201, :get-status 200, :at "2026-08-15T13:55:13.543Z"}}
